In [2]:
# Feuille de travail qui calcul automatiquement la ventilation des emprunts, les intérêts...

import pandas as pd

clot = pd.to_datetime("31/12/2024", dayfirst=True)
today = pd.to_datetime("25/01/2025", dayfirst=True)

compte = [51200, 51201, 51202]
IdPret = [1, 2, 3]
Type = ["InFine", "Amortissable", "Amortissable"]
DateDebut = ["20/04/2020", "31/12/2023", "01/01/2010"]
DateDebut = pd.to_datetime(DateDebut, dayfirst=True)
DateEcheance = ["20/04/2027", "31/12/2026", "01/01/2030"]
DateEcheance = pd.to_datetime(DateEcheance, dayfirst=True)
Interet = [0.03, 0.02, 0.05]
df = pd.DataFrame({"compte":compte, "IdPret":IdPret, "Type":Type, "DateDebut":DateDebut, "DateEcheance":DateEcheance, "interet":Interet})
df

   compte  IdPret          Type  DateDebut DateEcheance  interet
0   51200       1        InFine 2020-04-20   2027-04-20     0.03
1   51201       2  Amortissable 2023-12-31   2026-12-31     0.02
2   51202       3  Amortissable 2010-01-01   2030-01-01     0.05

In [9]:
fd = pd.DataFrame({
    "colun":["z", "z", "a"],
    "coldeu":["y", "b", "c"]
})

fruits = {"a":1, "b":2, "c":3}

fd.replace(fruits, inplace=True)

fd

  colun coldeu
0     z      y
1     z      2
2     1      3